.container {
  max-width: var(--w-6xl);
  margin: 0 auto;
  padding: 0 1rem;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
