@use '../../app/styles/mixins' as *;

.cart {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  overflow-y: hidden;

  &__side-bar {
    padding: 1.5rem 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    width: 25vw;
    @include mq(sm) {
      width: 100vw;
    }

    &__title {
      font-size: 18px;
      font-weight: 800;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 8px;
      text-transform: uppercase;
      color: var(--color-grey-dark-2);
    }
  }

  &__close-btn {
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;
    gap: 4px;
    & > span {
      font-size: 12px;
    }
  }

  &__list {
    border: 2px solid var(--color-grey-light-3);

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    height: 70%;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 0.6rem;
    border-bottom: 2px solid var(--color-grey-light-3);

    &__content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      width: 100%;
      gap: 9px;
      &__title {
        font-size: 16px;
        font-weight: 600;
      }
    }
    &:last-of-type {
      border: none;
    }
  }
  &__qty-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    button {
      color: var(--color-primary-dark);
      &:disabled {
        color: var(--color-grey-dark-3);
        cursor: default;
      }
    }
    &__btn {
      height: 1.1rem;
      width: 1.1rem;
      // color: var(--color-primary-dark);
      cursor: inherit;
    }
  }
  &__remove-btn {
    color: #dc2626;
    font-size: 11px;
    font-weight: 600;
    max-width: fit-content;
  }

  &__checkout {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__btn {
      background-color: var(--color-primary-dark);
      color: white;
      padding: 0.8rem 0rem;
      font-size: 16px;
      font-weight: 600;
      &:disabled {
        background-color: var(--color-grey-dark-3);
        cursor: default;
      }
    }
  }
  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: rem;
    &__logo {
      color: var(--color-grey-light-3);
      height: 13.5rem;
      width: 13.5rem;
    }
    &__text {
      color: var(--color-grey-dark-3);
      font-size: 12px;
    }
  }
}
