.product-card {
  border: 1px black;
  background-color: var(--color-secondary-light);
  padding: 2rem 1rem 0.3rem 1rem;
  border-radius: var(--r-lg);
  border: 2px solid #888;

  &__img {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 250px;
  }

  &__content {
    padding: 1rem 0.5rem;
  }
  &__label {
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
  &__description {
    font-size: 14px;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: var(--w-xs);
  }
  &__price {
    font-weight: 800;
    text-align: end;
  }
}
